{% extends 'website/website_template.html' %}
{% block title %}About Us{% endblock %}
{% block content %}
        <div class="col-md-12 full-width-container">
            <img src="{{ url_for('static',filename='img/logo-50.png') }}" class="center-img" style="margin-bottom:15px;"/>
            <p class="text-center cron-text">We are a group of scripters founded in mid-2017 that came together in order to offer you the best solutions possible for your botting needs.</p>
            <p class="text-center cron-text">Everything related to automatic processing of bots has been a privilege only for those who are willing to pay the hefty sum of money in order to get those tools made for them.</p>
            <p class="text-center cron-text">The CronScript group is an initiative to make automation additions like bot panels, account creation, ... an accessible feature for as many people as possible for an affordable price.</p>
       <p class="text-center cron-text">Members of Cronscript are picked carefully by their consistent display of being able to deliver high quality scripts.</p>
        </div>
        <br><br><br>

        <div class="col-md12 container" >
         <div class="col-sm-12 col-md-3">
                <div class="thumbnail script-highlight" style="margin-top:20px;">
                    <img src="{{ url_for('static', filename='img/members/Articron.png') }}" class=team-avatar" alt="...">
                    <div class="caption">
                        <h3 class="text-center">Articron</h3>
                        <p class="text-center">CronScript Founder</p>
                        <p class="text-center">Community: DreamBot</p>
                        <p class="text-center">Java/Web/Mobile Developer</p>
                        <p><a href="https://dreambot.org/forums/index.php/user/21973-articron/" class="btn btn-block cron-btn-green" role="button">Profile</a></p>

                    </div>
                </div>
            </div>
        <div class="col-sm-12 col-md-3">
                <div class="thumbnail script-highlight" style="margin-top:20px;">
                    <img src="{{ url_for('static', filename='img/members/Banker.png') }}" style="height:243px;" class="team-avatar" alt="...">
                    <div class="caption">
                        <h3 class="text-center">Banker</h3>
                        <p class="text-center">CronScript Member</p>
                        <p class="text-center">Community: DreamBot</p>
                        <p class="text-center">Scripter</p>
                        <p><a href="https://dreambot.org/forums/index.php/user/59540-banker/" class="btn btn-block cron-btn-green" role="button">Profile</a></p>

                    </div>
                </div>
            </div>

        <div class="col-sm-12 col-md-3">
                <div class="thumbnail script-highlight" style="margin-top:20px;">
                    <img src="{{ url_for('static', filename='img/members/Dinh.gif') }}" class=team-avatar" alt="...">
                    <div class="caption">
                        <h3 class="text-center">Dinh</h3>
                        <p class="text-center">CronScript Member</p>
                        <p class="text-center">Community: DreamBot</p>
                        <p class="text-center">Java/Web Developer</p>
                        <p><a href="https://dreambot.org/forums/index.php/user/60711-dinh/" class="btn btn-block cron-btn-green" role="button">Profile</a></p>

                    </div>
                </div>
            </div>

        <div class="col-sm-12 col-md-3">
                <div class="thumbnail script-highlight" style="margin-top:20px;">
                    <img src="{{ url_for('static', filename='img/members/Volucri.png') }}" class=team-avatar" style="height: 243px;" alt="...">
                    <div class="caption">
                        <h3 class="text-center">Volucri</h3>
                        <p class="text-center">CronScript Member</p>
                        <p class="text-center">Community: None</p>
                        <p class="text-center">Java/Mobile Developer</p>
                        <p><a href="https://dreambot.org/forums/index.php/user/100257-volucri/" class="btn btn-block cron-btn-green" role="button">Profile</a></p>

                    </div>
                </div>
            </div>
        </div>





{% endblock %}