{% extends "panel_template.html" %}


{% block title %} Detail page {% endblock %}
{% set onlist = False %}

{% block inner_content %}
    <div class="col-sm-12 col-md-3">
         <div class="panel-cron">
             <div class="panel-heading">Details</div>
             <div class="panel-body-cron bot-details">
                <img src="{{ url_for('static',filename="img/crondroid-logo.png")}}" style="margin: auto; display: block; height: 100px; width: auto;"/>
                <h2 class="cron-green text-center">{{ bot.bot_name }} </h2>
                <p class="text-center text-muted">Account Hash: <a>9dfsdf872456Rfg</a></p>
                 <ul class="var-list" style="list-style-type: none;">
                    {% for tracked_var in bot.game_data.tracked_vars %}
                        <li id="{{ tracked_var.key }}">{{ tracked_var.key }}
                                {% if "%" in tracked_var.value  %}
                                <div class="progress key_var">
                                      <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                      aria-valuemin="0" aria-valuemax="100" style="width:{{ tracked_var.value }}">
                                            {{ tracked_var.value }}
                                      </div>
                                </div>
                                {% else %}
                                    <span class="float-right key_var">
                                        {{ tracked_var.value }}
                                    </span>
                                {% endif %}
                        </li>
                    {% endfor %}
                </ul>
             </div>
         </div>
    </div>
    <div class="col-sm-12 col-md-3">
        <div class="panel-cron">
            <div class="panel-heading">Skills</div>
            <div class="panel-body-cron">

                    <div class="skill-container">
                        {% for skill in skills %}
                        <div class="skill" id="{{ skill }}-container" onclick="loadStatInfo('{{ skill }}')">
                            <img src="{{ url_for('static',filename="img/skills/"+skill+".png") }}"/>
                            <span style="display: inline-block; margin-left: 6px;" id="{{ skill }}">{{ xp_to_level(stat_data[skill]['current_xp']) }}</span>
                        </div>
                        {% endfor %}
                    <div id="skill-details" class="hidden">
                        <p id="skill-name"></p>
                        <p id="skill-start-xp"></p>
                        <p id="skill-current-xp"></p>
                    </div>
                    </div>

            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-3">
            <div class="panel-cron">
                <div class="panel-heading">Snapshots</div>
                <div class="panel-body-cron" style="padding: 0;">

                        <div id="snapshot-list">
                            {% for snapshot in snapshots %}
                            <span onclick='showSnapshot({{ snapshot.id }},"{{ snapshot.clock_in }}")' id="{{ snapshot.id }}"><i class="fa fa-check cron-green" aria-hidden="true"></i>
                                Snapshot UID #{{ snapshot.id }}, {{ snapshot.clock_in }}</span>
                            {% endfor %}
                        </div>
                        <div id="loader-wrapper" class="hidden">
                            <div class="custom-modal hidden" id="snapshot-modal">
                                <div class="custom-modal-header">
                                    <span id="snapshot-header" class=""></span>
                                    <span class="pull-right"><a onclick="closeModal()" class="btn cron-btn-green" style="display:inline;">Close</a></span>
                                </div>
                                <img alt="sample.png"
                                     id="client-snapshot" src=""/>
                                </div>
                        </div>
                </div>
            </div>
        </div>
    <div class="col-sm-12 col-md-3">
        <div class="panel-cron">
            <div class="panel-heading">Notifications</div>
            <div class="panel-body-cron" style="padding: 0;" id="shouts">
                {% for notification in bot.notifications %}
                    <div class="shout">
                        <span class="cron-text cron-green">{{ notification.title }}</span>
                        <p class="text-muted" style="font-size: 0.9em;">Timestamp: {{ notification.timestamp }}</p>
                        {{ notification.text }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}


{% block javascript %}
<script type="text/javascript" charset="utf-8">
    {% if webToken%}

        var snapshot_cache = [];

        var socket = io.connect('http://' + document.domain + ':' + location.port);
            socket.on('connect', function() {
                socket.emit('details',
                    {
                        data: '{{ webToken }}',
                        bot_id: {{ bot_id }}
                    }
                );
            });

            socket.on('disconnect', function() {
                socket.emit('disconnect');
            });


        var json_data;
        var entry;
        var key;
        var value;


        socket.on('update_details', function (data) {
            console.log("received an update_details");
            console.log(data);
            json_data = JSON.parse(data);
            for (var i = 0; i < json_data["data"]["tracked_vars"].length; i++) {
                entry = json_data["data"]["tracked_vars"][i];
                key = entry["key"];
                value = entry["value"];
                $("#" + key).find(".key_var").text(value)
            }
            {% for skill in skills %}
                $("#{{ skill }}").text(
                    json_data["stat_data"]["{{ skill }}"]["level"]);
            {% endfor %}
        });


        /**$( document ).ajaxComplete(function( event, xhr, settings ) {
          if ( settings.url === "{{ url_for('panel_controller.snapshot_loader') }}" ) {
              var b64_img = xhr.responseText.replace("&#9;","");
              $("#client-snapshot").attr("src",b64_img);
          }
        });**/
        socket.on('add_shout', function(data) {
            console.log('received an add_shout');
            console.log(data);
            var shout_data = JSON.parse(data);
            var entry = '' +
                '<div class="shout">' +
                ' <span class="cron-text cron-green">'+shout_data['title']+'</span>' +
                ' <p class="text-muted" style="font-size: 0.9em;">Timestamp: '+shout_data['timestamp']+'</p>'
                + shout_data['text']+
                ' </div>';
            $(entry).hide().prependTo("#shouts").fadeIn();
        });

        function requestSnapshot(session_id) {
            $("#snapshot-loader").removeClass("hidden");
        }

        function showSnapshot(snapshot_uid, snapshot_clock_in) {
            var snapshot_data;
            if (snapshot_cache[snapshot_uid] !== undefined) {
                $("#loader-wrapper").fadeIn().removeClass("hidden");
                $("#snapshot-modal").slideUp().removeClass("hidden");
                $("#client-snapshot").attr("src","data:image/png;base64,"+snapshot_cache[snapshot_uid]);
                $("#snapshot-header").text("Snapshot #"+snapshot_uid + ", " + snapshot_clock_in);
            } else {
                (function(snapshot) {
                    $.ajax({
                        url: "{{ url_for('panel_controller.snapshot_loader') }}",
                        method: 'POST',
                        cache: false,
                        contentType: "application/json",
                        dataType: "text",
                        data: JSON.stringify(
                            {
                                "bot_id" : {{ bot_id }},
                                "snapshot_id" : snapshot_uid
                            }
                        ),
                        success: function (result) {
                           // console.log(result);
                            $("#loader-wrapper").fadeIn().removeClass("hidden");
                            $("#snapshot-modal").slideUp().removeClass("hidden");
                            $("#snapshot-header").text("Snapshot #"+snapshot_uid + ", " + snapshot_clock_in);
                            $("#client-snapshot").attr("src","data:image/png;base64,"+result);
                            snapshot_cache[snapshot_uid] = result;
                        }
                    });
                })(snapshot_data);
            }
        }

        function closeModal() {
            $("#snapshot-modal").addClass("hidden");
            $("#loader-wrapper").addClass("hidden");
            $("#snapshot-header").text("");
            $("#client-snapshot").attr("src","");
        }

        function loadStatInfo(stat) {
            {% for skill in skills %}
                $("#{{ skill }}-container").removeClass("active");
            {% endfor %}
            $("#"+stat+"-container").addClass("active");
            (function(skillStat) {
            $.ajax({
                    url: "{{ url_for('panel_controller.get_levels') }}",
                    method: 'POST',
                    contentType: "application/json",
                    data: JSON.stringify(
                        {
                            "bot_id" : {{ bot_id }}
                        }
                    ),
                    success: function(data) {
                        if ($("#skill-details").hasClass("hidden")){
                            $("#skill-details").removeClass("hidden");

                        }
                        var dataVar = JSON.parse(data);
                        var dataStat = dataVar[skillStat];
                        $("#skill-name").html("<span class='cron-green'>Skill name: " + skillStat + "</span>");
                        $("#skill-start-xp").text("Start experience: " + dataStat["start_xp"]);
                        $("#skill-current-xp").text("Current experience: " + dataStat["current_xp"]);
                    }
                });
            })(stat);
        }

    {% endif %}
    </script>
{% endblock %}