{% extends "panel_template.html" %}

{% block title %} Crondroid {% endblock %}



{% block inner_content %}

<div class="col-md-9">
    <div class="panel-cron" >
        <div class="panel-heading">Botlist</div>
    </div>

        <div class="panel-body-cron" style="padding: 0;" id="accordion">
            {% for bot in range(botting_data|length) %}

            <div class="bot-entry">
                <div class="row">
                    <div class="col-md-5" style="display: inline-block">
                        <img src="{{ url_for('static',filename='img/bot.png') }}" style="height: 50px; width: auto;"/>
                        Bot alias: <span class="cron-green">{{ botting_data[bot]['bot_name']}}</span>
                    </div>
                    <div class="col-md-5">
                        <ul style="display: inline-grid; list-style-type: none;">
                          <li class="text-muted">IP-address: {{ botting_data[bot]['ip_address'] }}</li>
                          <li class="text-muted">UTC clock-in: {{ botting_data[bot]['clock_in'] }}</li>
                        </ul>
                    </div>
                    <div class="col-md-2" style="font-size: 2em;">
                        <a onclick="openBotData({{ botting_data[bot]['bot_id'] }})" class="btn btn-block cron-btn-green" role="button"><span class="glyphicon glyphicon-eye-open"> </span></a>


                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>


<!--
        <div class="col-md-9">
            <div class="panel-cron">
                <div class="panel-heading">Bot listings</div>
                <div class="panel-body-cron">
                    <div class="list-group botlist">
                        {% for bot in range(botting_data|length) %}
                            <div class="panel panel-default">
                                  <div class="panel-body">
                                      <div class="float-right"><a href="https://dreambot.org/forums/index.php/user/60711-dinh/" class="btn btn-block cron-btn-green" role="button">Profile</a></div>
                                    Basic panel example
                                  </div>
                            </div>
                        <a href="#" class="list-group-item botlist-element" onclick="return testBotModal();">
                            <h4 class="list-group-item-heading"><strong>Bot alias: </strong> {{ botting_data[bot]['bot_name']}}</h4>
                            <p class="list-group-item-text text-muted">IP-Address: {{ botting_data[bot]['ip_address'] }}</p>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
-->
    <div class="col-md-3">
            <div class="panel-cron">
                <div class="panel-heading">General information</div>
                <div class="panel-body-cron">
                    <img id="panel-logo" src="{{ url_for('static',filename='img/logo-50.png') }}">
                        <p class="text-left">Web-Token:
                            <span style="float: right;">{{ webToken }}</span>
                        </p>
                        <p class="text-left">Script Name:
                            <span style="float: right;">{{ script_data['script_data'][0]["script_name"] }}</span>
                        </p>
                        <p class="text-left">Script Author:
                            <span style="float: right;">{{ script_data['script_data'][0]["script_author"] }}</span>
                        </p>
                        <p class="text-left">Total bots:
                            <span style="float: right;">{{ botting_data|length }}</span>
                        </p>

                        <p class="text-left">Server status:
                            <span style="float: right;">Online</span>
                        </p>
                </div>
            </div>
        </div>

    <div id="domMessage" style="display:none; padding: 10px;">
        <img id="panel-logo" src="{{ url_for('static',filename='img/logo-50.png') }}">
        <span class="text-muted">Requesting bot data...</span>
    </div>
{% endblock %}


{% block javascript %}
<script type="text/javascript" charset="utf-8">
    {% if webToken %}
            var socket = io.connect('http://' + document.domain + ':' + location.port);
            socket.on('connect', function() {
                socket.emit('auth', {data: '{{ webToken }}'});
            });

            socket.on('disconnect', function() {
                socket.emit('disconnect');
            });

            socket.on('add_bot', function (data) {
                console.log("received an add_bot");
                console.log(data);
                json_var = JSON.parse(data);
                $.notify(json_var["msg"], { className: "success", position:"right bottom", style:"bootstrap", gap: 3 });
            });
    {% endif %}

</script>

<script type="text/javascript">

$   (document).ajaxStop($.unblockUI);


    function openBotData(bot_id)
    {
         $.ajax({
                url: "{{ url_for('panel_controller.bot_view') }}",
                method: 'POST',
                contentType: "application/json",
                data: JSON.stringify(
                    {
                        "bot_id" : bot_id
                    }
                ),
                success: function (result) {
                    document.write(result)
                }
            });
    }
    function loadBotData(bot_id)
    {
        showWait();
        setTimeout(function() {
             $.ajax({
                url: "{{ url_for('panel_controller.bot_data') }}",
                method: 'POST',
                contentType: "application/json",
                data: JSON.stringify(
                    {
                        "bot_id" : bot_id
                    }
                ),
                success: function (result) {
                    json_data = JSON.parse(result);
                    showBotModal(json_data)
                }
            });
        },2000);

    }

    function showWait() {
        $.blockUI({
            css: {
                backgroundColor: '#333',
                color: '#fff',
                border: "#222"
            },
            message: $('#domMessage')
        });
    }

    function testBotModal(bot_id) {
        var url = "{{ url_for('panel_controller.test',bot_id=-1) }}";
        var modal = new BootstrapDialog({
            size: BootstrapDialog.SIZE_WIDE,
            message: function(dialog) {
                var $message = $('<div></div>');
                var pageToLoad = dialog.getData('pageToLoad');
                $message.load(pageToLoad);

                return $message;
            },
            data: {
                'pageToLoad': url+'/'+bot_id
            }
        });
        modal.realize();
        modal.getModalHeader().hide();
        modal.getModalBody().css('background-color', '#555');
        modal.getModalContent().css("background-color", '#555');

        modal.open();
    }
    function showBotModal(json_data) {
        bot_data = JSON.parse(json_data["game_data"]);

        var table = $("<table " +
            "data-toggle='table'> " +
            "</table>");
        table.bootstrapTable({
            columns: [{
                field: 'key_value',
                title: 'Key parameter'
            }, {
                field: 'value_parameter',
                title: 'Value parameter'
            }]
        });
        data = [];
        $.each(bot_data, function(k, v) {
            data.push({key_value : k, value_parameter : v});
        });
        table.bootstrapTable("append",data);
        var dialog = new BootstrapDialog(
            {
            message: function(dialogRef)
            {

                return table;
            },

            buttons: [
                {
                    label: 'Request bot screenshot',
                    cssClass: 'cron-btn-green',
                    action: function(dialog) {
                        //dialog.setTitle('Request screenshot');
                    }
                },
                {
                    label: 'Close',
                    cssClass: "btn-danger",
                    action: function(dialog) {
                        dialog.close();
                    }
                }
            ],
            closable: false,
                draggable: true
        });

        dialog.realize();
        dialog.setTitle("Bot data for alias: " + json_data['bot_name']);
        dialog.getModalHeader().css('background-color',"#2ecc71");
        dialog.getModalHeader().css('border-bottom',"0");
        dialog.getModalFooter().css("background-color","#222");
        dialog.getModalFooter().css("border-top","1px solid #2ecc71");
        dialog.getModalBody().css('background-color', '#222');
        dialog.getModalBody().css('color', '#fff');
        dialog.open();
    }
</script>
{% endblock %}