{% extends "panel_template.html" %}

{% block title %} Crondroid {% endblock %}


{% set onlist = "true" %}


{% block inner_content %}

    <div class="col-md-12" style="margin-bottom:10px;">
        <div class="input-group" id="bot-searching">
          <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
          <input type="text" class="form-control" placeholder="Filter bots" aria-describedby="sizing-addon2">
        </div>
    </div>

<div class="col-md-9">
    <div class="panel-cron" >
        <div class="panel-heading">Botlist</div>
    </div>

        <div class="panel-body-cron" style="padding: 0;" id="botList">
            {% if botting_data|length > 0 %}
                {% for bot in range(botting_data|length) %}

                <div class="bot-entry" id="bot-{{ botting_data[bot]['bot_id'] }}">
                    <div class="row">
                        <div class="col-md-5" style="display: inline-block; vertical-align: middle;">
                            <img src="{{ url_for('static',filename='img/crondroid-logo.png') }}" style="height: 50px; width: auto; margin-right: 5px;"/>
                            <span class="cron-green">{{ botting_data[bot]['bot_name']}}</span>
                        </div>
                        <div class="col-md-5">
                            <ul style="display: inline-grid; list-style-type: none;">
                              <li class="text-muted">IP-address: {{ botting_data[bot]['ip_address'] }}</li>
                              <li class="text-muted">UTC clock-in: {{ botting_data[bot]['clock_in'] }}</li>
                                <li class="text-muted">Unique identifier: #{{ botting_data[bot]['bot_id'] }}</li>
                            </ul>
                        </div>
                        <div class="col-md-2" style="font-size: 2em;">
                            <a onclick="openBotData({{ botting_data[bot]['bot_id'] }})" class="btn btn-block cron-btn-green" role="button"><span class="glyphicon glyphicon-eye-open"> </span></a>


                        </div>
                    </div>

                </div>
                {% endfor %}
        {% else %}
        {% endif %}
        </div>
    </div>


    <div class="col-md-3">
            <div class="panel-cron">
                <div class="panel-heading">General information</div>
                <div class="panel-body-cron">

                        <p class="text-left">Web-Token:
                            <span style="float: right;">{{ webToken }}</span>
                        </p>
                        <p class="text-left">Script Name:
                            <span style="float: right;">{{ script_data['script_data'][0]["script_name"] }}</span>
                        </p>
                        <p class="text-left">Script Author:
                            <span style="float: right;">{{ script_data['script_data'][0]["script_author"] }}</span>
                        </p>
                        <p class="text-left">Total bots:
                            <span style="float: right;" id="botcount">{{ botting_data|length }}</span>
                        </p>

                        <p class="text-left">Server status:
                            <span style="float: right;">Online</span>
                        </p>
                </div>
            </div>
        </div>

    <div id="domMessage" style="display:none; padding: 10px;">
        <img id="panel-logo" src="{{ url_for('static',filename='img/logo-50.png') }}">
        <span class="text-muted">Requesting bot data...</span>
    </div>
{% endblock %}


{% block javascript %}
<script type="text/javascript" charset="utf-8">
    {% if webToken and onlist == "true" %}
            var bot_dict = [];
        {% for bot in range(botting_data|length) %}
            bot_dict['{{ botting_data[bot]['bot_name']}}'] = "bot-{{ botting_data[bot]['bot_id'] }}";
        {% endfor %}
            var socket = io.connect('http://' + document.domain + ':' + location.port);
            socket.on('connect', function() {
                socket.emit('auth', {data: '{{ webToken }}'});
            });

            socket.on('disconnect', function() {
                socket.emit('disconnect');
            });

            socket.on('remove_bot', function(data) {
                console.log("received an remove_bot");
                console.log(data);
                json_var = JSON.parse(data);
                $.notify("the account " + json_var["name"] + " disconnected!", { className: "error", position:"right bottom", style:"bootstrap", gap: 3 });
               $("#bot-"+json_var["id"]).slideUp("slow", function(){ $(this).remove();});
                countSelector = $("#botcount");
                var count = parseInt(countSelector.text());
                countSelector.text(""+(count + -1));
            });

            socket.on('add_bot', function (data) {
                console.log("received an add_bot");
                console.log(data);
                json_var = JSON.parse(data);

                $.notify("the account " + json_var["name"] + " was found!", { className: "success", position:"right bottom", style:"bootstrap", gap: 3 });
                $("#botList").append(
                    '<div class="bot-entry" id="bot-'+json_var['id']+'"> <div class="row"> <div class="col-md-5" style="display: inline-block"> ' +
                    '<img src="{{ url_for('static',filename='img/crondroid-logo.png') }}" style="height: 50px; width: auto; margin-right: 5px;"/>' +
                'Bot alias: <span class="cron-green">' + json_var["name"] + '</span> </div> <div class="col-md-5"> ' +
                    '<ul style="display: inline-grid; list-style-type: none;">' +
                    ' <li class="text-muted">IP-address: '+json_var['ip_address'] +'</li>' +
                    ' <li class="text-muted">UTC clock-in: '+json_var['clock_in']+'</li> </ul> ' +
                    '</div> ' +
                    '<div class="col-md-2" style="font-size: 2em;"> ' +
                    '<a onclick="openBotData('+json_var["id"]+')" class="btn btn-block cron-btn-green" role="button"><span class="glyphicon glyphicon-eye-open"> </span></a> ' +
                    '</div>' +
                    '</div> ' +
                    '</div>'
                );
                bot_dict[json_var["name"]] = "bot-"+json_var['id'];
                countSelector = $("#botcount");
                var count = parseInt(countSelector.text());
                countSelector.text(""+(count + 1));

            });

    {% endif %}

</script>

<script type="text/javascript">

$   (document).ajaxStop($.unblockUI);


    function openBotData(bot_id)
    {
         $.ajax({
                url: "{{ url_for('panel_controller.bot_view') }}",
                method: 'POST',
                contentType: "application/json",
                data: JSON.stringify(
                    {
                        "bot_id" : bot_id
                    }
                ),
                success: function (result) {

                    document.write(result);

                }
            });
    }
    function loadBotData(bot_id)
    {
        showWait();
        setTimeout(function() {
             $.ajax({
                url: "{{ url_for('panel_controller.bot_data') }}",
                method: 'POST',
                contentType: "application/json",
                data: JSON.stringify(
                    {
                        "bot_id" : bot_id
                    }
                ),
                success: function (result) {
                    console.log(result);
                }
            });
        },2000);

    }

    function showWait() {
        $.blockUI({
            css: {
                backgroundColor: '#333',
                color: '#fff',
                border: "#222"
            },
            message: $('#domMessage')
        });
    }


</script>
{% endblock %}