{% extends "panel_template.html" %}

{% block title %} Crondroid {% endblock %}



{% block inner_content %}
<div class="row" style="margin-bottom: 20px;">
    <div class="col-md-3">
    <div class="dashboard-panel">
        <div class="panel-descriptor">WEBTOKEN</div>
        <div class="panel-img"><img src="{{ url_for('static',filename='img/pc.png') }}"/></div>
        <div class="panel-counter">{{ webToken }}</div>
    </div>
    </div>
<div class="col-md-3">
    <div class="dashboard-panel">
        <div class="panel-descriptor">SCRIPT NAME</div>
        <div class="panel-img"><img src="{{ url_for('static',filename='img/eye.png') }}"/></div>
        <div class="panel-counter">{{ current_script.script_name }}</div>
    </div>
    </div>
    <div class="col-md-3">
    <div class="dashboard-panel">
        <div class="panel-descriptor">AUTHOR</div>
        <div class="panel-img"><img src="{{ url_for('static',filename='img/programmer.png') }}"/></div>
        <div class="panel-counter">{{ current_script.script_author }}</div>
    </div>
    </div>
    <div class="col-md-3">
        <div class="dashboard-panel">
            <div class="panel-descriptor">ONLINE BOTS</div>
            <div class="panel-img"><img src="{{ url_for('static',filename='img/crondroid-logo.png') }}"/></div>
            <div class="panel-counter">{{ bot_count }}</div>
        </div>
    </div>
</div>

    <div class="row">
    <div class="col-md-6">
        <div class="panel-cron">
                <div class="panel-heading">News & Patch notes</div>
                    <div class="panel-body-cron" style="padding:0 15px;">
                    {% for announcement in announcements %}
                        <div class="announcement-panel">
                        <div class="anouncement-header">
                            <span class="cron-green cron-text"><strong>{{ announcement.title }}</strong></span>
                            <span class="cron-green cron-text pull-right">{{ announcement.post_date }}</span>
                        </div>
                        <span class="cron-text">{{ announcement.text|safe }}</span>
                        </div>




                    {% endfor %}
                    </div>
        </div>

    </div>
    <div class="col-md-6">
            <div class="panel-cron">
                <div class="panel-heading">Latest CronScript releases</div>
                <div class="panel-body-cron" style="padding: 0">
                    {% for i in range(script_data|length) %}
                        <div class="media script-entry">
                          <div class="media-left panel-img">
                            <a href="#">
                              <img class="media-object script-entry-img" src="{{ url_for('static', filename='img/'+script_data[i]['script_image']) }}" alt="...">
                            </a>
                          </div>
                          <div class="media-body">
                            <h3 class="media-heading cron-green">{{ script_data[i]['script_name'] }}</h3>
                              <p class="text-muted">Author: {{ script_data[i]['script_author'] }}</p>
                            {{ script_data[i]['script_description'] }}
                              <a href="{{ script_data[i]['script_topic_url'] }}" class="btn cron-btn-green"  style="float: right;" role="button">Go to forum thread</a>
                          </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>


{% endblock %}