
            <div class="panel-cron">
                <div class="panel-heading">General information</div>
                <div class="panel-body-cron">
                    <img id="panel-logo" src="#">
                        <p class="text-left">Web-Token:
                            <span style="float: right;">Chaos</span>
                        </p>
                        <p class="text-left">Script Name:
                            <span style="float: right;">lmfao</span>
                        </p>
                        <p class="text-left">Script Author:
                            <span style="float: right;">test</span>
                        </p>
                        <p class="text-left">Total bots:
                            <span style="float: right;">9 million</span>
                        </p>

                        <p class="text-left">Script Name:
                            <span style="float: right;">Online</span>
                        </p>
                </div>
            </div>