{% extends "template.html" %}


{% block nav %}
    <nav class="navbar navbar-inverse navbar-global navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
              <img src="{{ url_for('static', filename='img/logo-50.png') }}" style="height: 50px; width:auto;">
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-user navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-fire"></span> {{ webToken }}</a></li>
            <li><a href="{{ url_for('login_controller.logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<nav class="navbar-primary">

  <ul class="navbar-primary-menu">
    <li>
      <a class="{{ active_nav('home',activeNav) }}" href="{{ url_for('panel_controller.land') }}"><span class="glyphicon glyphicon-home"></span><span class="nav-label">Home</span></a>
      <a class="{{ active_nav('botlist',activeNav) }}" href="{{ url_for('panel_controller.botlist') }}"><span class="glyphicon glyphicon-eye-open"></span><span class="nav-label">Bot list</span></a>
      <a class="{{ active_nav('remote',activeNav) }}" href="{{ url_for('panel_controller.remote_control') }}"><span class="glyphicon glyphicon-globe"></span><span class="nav-label">Remote commands</span></a>
      <a class="{{ active_nav('bothistory',activeNav) }}" href="{{ url_for('panel_controller.history') }}"><span class="glyphicon glyphicon-random"></span><span class="nav-label">Bot history</span></a>
    </li>
  </ul>
</nav>
{% endblock %}

{% block content %}
    <div class="main-content">
    {% block inner_content %} {% endblock %}
    </div>
    {% endblock %}


