<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-dialog.min.css') }}" />
    <link rel="shortcut icon" type="image/ico" href="{{ url_for('static',filename='img/logo-50.png') }}"/>
    <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block nav %}
    {% endblock %}
    {% block content %}
    {% endblock %}
    <!-- JS libs -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-dialog.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/blockui.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-table.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/notify.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.loadmask.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap-remote-tabs.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/socket.io.js') }}"></script>

    <!-- End of JS libs -->
{% block javascript %}

{% endblock %}
</body>
</html>